
$font-family: 'Source Sans Pro';

$color-base: rgb(160,212,224);
$color-white: rgba(255,255,255, .2);
$color-black: rgb(0,0,0);
$color-gray: #f3f3f3;
$color-alt: pink;

$padding-base: 25px;
$padding-forms: 10px;

$bp2_3: 1024px;
$bp3: 1280px;
