
label {
  display: inline-block;
}
button {
  background-color: $color-alt;
  border: none;
  &:hover {
    background-color: $color-black;
    color: $color-alt;
  }
}
input,
button {
  padding: 5px 8px;
}
input[type=text],
input[type=number],
input[type=date],
select {
  font-size: 100%;
  border: 1px solid $color-alt;
  outline: none;
  background-color: transparent;
}

fieldset {
  border: 0;
  text-align: right;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"] {
  font-family: $font-family;
}
